{% extends 'livestream.html' %}

{% block content %}
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<label>Select Camera from the list</label>
					<form name="Item_1" action="{{ url_for('speedcam') }}" method='POST'>
						<select class="form-control">
							<option value='b4cam'>b4cam</option>
							<option value='b12cam'>B12-Camera</option>
							<option value='b18cam'>B18-Camera</option>
							<option value='b7cam'>B7-Camera</option>
							<option value='b2cam'>B2-Camera</option>
						</select>
						<button type="submit">Submit</button>
					</form>
				</div>
				<div>
					<h3>Camera - Video Streaming</h3>
					<img src="{{ url_for('video_feed') }}">
				</div>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("button").click(function(){
				$.ajax({
			  url : "/video_feed",
			  data : $('#form-control').val(),
			  type : 'POST'
			});
			});
		});
	</script>
{% endblock %}	